<h1>Welcome Back to Lemmen</h1><br>

<h3>Please enter your login information below:</h3><br>

<div class="error_box">

  <font color="red">
    <h5>
      <% if flash[:message] %>
      <%= flash[:message] %>
      <% end %>
    </h5>
  </font>
</div>

<br>

<%= form_for :user, url: '/login' do |f| %>
<div class="row">
  <div class="col-md-6 ">
    <div class="col-md-6 ">
      
      <div class="email">
        Email: <%= f.email_field :email, class: 'form-control' %>
      </div>
      <br>
      <br>

      <div class="password">
        Password: <%= f.password_field :password, class: 'form-control' %>
      </div>
      <br>
      <br>

      <div class="submit">
        <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
      </div>
      <br>
      <br>

      <div class="sign_up">
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
  </div>
</div>

</div>
