<div id="main-table-area">
  <div id="main-table">

    <% if !@user.accounts.empty? %>
    
    <table class="table table-hover">  

      <thead class="thead-default">
        <tr class="table-headers">
          <th id="row-label"></th>
          <% TimePeriod.monthly.each do |m| %>
          <th><%= m.first.strftime('%b') %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% table_data = IncomeStatement.monthly_view(@user.id) %>

      <!-- Begin Income -->
      <!-- Begin Income Subcategories -->

        <tr class="income subcategory" id="salary">
          <td class="row-label">&nbsp&nbsp Salary</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Salary"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="income subcategory" id="bonus">
          <td class="row-label">&nbsp&nbsp Bonus</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Bonus"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="income subcategory" id="interest-income">
          <td class="row-label">&nbsp&nbsp Interest Income</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Interest Income"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="income subcategory" id="other-income">
          <td class="row-label">&nbsp&nbsp Other Income</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Other Income"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="income subcategory" id="reimbursements">
          <td class="row-label">&nbsp&nbsp Reimbursements</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Reimbursements"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>

      <!-- End Income Subcategories -->

        <tr class="table-success income root">
          <th class="row-label" scope="row">Total Income</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Income"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>
      
      <!-- End Income -->
      <!-- Begin Expenses -->
      <!-- Begin Subcategories -->
      <!-- Begin Fixed Expenses Children -->

              <tr class="expenses child fixed" id="rent & mortgage">
                <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Rent & Mortgage</td>
                <% table_data.each do |m| %>
                <% x = m[m.keys.first]["Rent & Mortgage"] %>
                <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                <% end %>
              </tr>

              <tr class="expenses child fixed" id="utilities">
                <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Utilities</td>
                <% table_data.each do |m| %>
                <% x = m[m.keys.first]["Utilities"] %>
                <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                <% end %>
              </tr>

              <tr class="expenses child fixed" id="tv & internet">
                <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp TV & Internet</td>
                <% table_data.each do |m| %>
                <% x = m[m.keys.first]["TV & Internet"] %>
                <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                <% end %>
              </tr>

              <tr class="expenses child fixed" id="cell phone">
                <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Cell Phone</td>
                <% table_data.each do |m| %>
                <% x = m[m.keys.first]["Cell Phone"] %>
                <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                <% end %>
              </tr>

              <tr class="expenses child fixed" id="insurance">
                <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Insurance</td>
                <% table_data.each do |m| %>
                <% x = m[m.keys.first]["Insurance"] %>
                <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                <% end %>
              </tr>

              <tr class="expenses child fixed" id="transportation">
                <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Transportation</td>
                <% table_data.each do |m| %>
                <% x = m[m.keys.first]["Transportation"] %>
                <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                <% end %>
              </tr>
      
      <!-- End Fixed Expenses Children -->

        <tr class="expenses subcategory" id="fixed">
          <td class="row-label" scope="row">&nbsp&nbsp Fixed & Recurring</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Fixed & Recurring"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>

      <!-- Begin Variable Expenses Children -->

            <tr class="expenses child variable" id="cars & vehicles">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Cars & Vehicles</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Cars & Vehicles"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child variable" id="children">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Children</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Children"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child variable" id="cleaning supplies & maids">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Cleaning Supplies & Maids</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Cleaning Supplies & Maids"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child variable" id="education">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Education</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Education"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child variable" id="fitness & recreation">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Fitness & Recreation</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Fitness & Recreation"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child variable" id="healthcare">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Healthcare</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Healthcare"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child variable" id="laundry">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Laundry</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Laundry"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child variable" id="personal care">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Personal Care</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Personal Care"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child variable" id="pets">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Pets</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Pets"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

      <!-- Begin Food Leaves -->

                <tr class="expenses leaves food" id="alcohol">
                  <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Alcohol & Bars</td>
                  <% table_data.each do |m| %>
                  <% x = m[m.keys.first]["Alcohol & Bars"] %>
                  <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                  <% end %>
                </tr>

                <tr class="expenses leaves food" id="coffee-shops">
                  <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coffee Shops</td>
                  <% table_data.each do |m| %>
                  <% x = m[m.keys.first]["Coffee Shops"] %>
                  <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                  <% end %>
                </tr>

                <tr class="expenses leaves food" id="fast-food">
                  <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Fast Food & Delivery</td>
                  <% table_data.each do |m| %>
                  <% x = m[m.keys.first]["Fast Food & Delivery"] %>
                  <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                  <% end %>
                </tr>

                <tr class="expenses leaves food" id="groceries">
                  <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Groceries</td>
                  <% table_data.each do |m| %>
                  <% x = m[m.keys.first]["Groceries"] %>
                  <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                  <% end %>
                </tr>

                <tr class="expenses leaves food" id="other-food">
                  <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Other Food</td>
                  <% table_data.each do |m| %>
                  <% x = m[m.keys.first]["Other Food"] %>
                  <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                  <% end %>
                </tr>

                <tr class="expenses leaves food" id="restaurants">
                  <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Restaurants</td>
                  <% table_data.each do |m| %>
                  <% x = m[m.keys.first]["Restaurants"] %>
                  <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                  <% end %>
                </tr>

                <tr class="expenses leaves food" id="work-meals">
                  <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Work Meals</td>
                  <% table_data.each do |m| %>
                  <% x = m[m.keys.first]["Work Meals"] %>
                  <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
                  <% end %>
                </tr>

      <!-- End Food Leaves -->

            <tr class="expenses variable child total-food" id="total-food">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Total Food</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Total Food"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>      

      <!-- End Variable Expenses Children -->

        <tr class="expenses subcategory" id="variable">
          <td class="row-label" scope="row">&nbsp&nbsp Variable</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Variable"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>

      <!-- Begin Discretionary Children -->
              
            <tr class="expenses child discretionary" id="home">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Home</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Home"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child discretionary" id="shopping">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Shopping</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Shopping"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child discretionary" id="entertainment">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Entertainment</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Entertainment"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child discretionary" id="rental & taxi">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Rental & Taxi</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Rental & Taxi"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child discretionary" id="cash">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Cash</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Cash"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child discretionary" id="other">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Other</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Other"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

      <!-- End Discretionary Children -->

        <tr class="expenses subcategory" id="discretionary">
          <td class="row-label" scope="row">&nbsp&nbsp Discretionary</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Discretionary"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>

      <!-- Begin Life Expenses Children -->
      
            <tr class="expenses child life" id="charity">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Charity & Community</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Charity & Community"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child life" id="gifts">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Gifts</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Gifts"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child life" id="trips">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Trips</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Trips"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

            <tr class="expenses child life" id="wedding">
              <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Wedding</td>
              <% table_data.each do |m| %>
              <% x = m[m.keys.first]["Wedding"] %>
              <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
              <% end %>
            </tr>

      <!-- End Life Expenses Children -->

        <tr class="expenses subcategory" id="life">
          <td class="row-label" scope="row">&nbsp&nbsp Life</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Life"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>

      <!-- Begin Other Expenses Children -->

           <tr class="expenses child other-exp" id="adjustments">
            <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Adjustments</td>
            <% table_data.each do |m| %>
            <% x = m[m.keys.first]["Adjustments"] %>
            <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
            <% end %>
          </tr>

          <tr class="expenses child other-exp" id="interest">
            <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Interest & Fees</td>
            <% table_data.each do |m| %>
            <% x = m[m.keys.first]["Interest & Fees"] %>
            <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
            <% end %>
          </tr>

          <tr class="expenses child other-exp" id="reimbursable">
            <td class="row-label" scope="row">&nbsp&nbsp&nbsp&nbsp Reimbursable Expenses</td>
            <% table_data.each do |m| %>
            <% x = m[m.keys.first]["Reimbursable Expenses"] %>
            <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
            <% end %>
          </tr>

      <!-- End Other Expenses Children -->

        <tr class="expenses subcategory" id="other-exp">
          <td class="row-label" scope="row">&nbsp&nbsp Other</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Other Expenses"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="expenses subcategory" id="uncategorized">
          <td class="row-label" scope="row">&nbsp&nbsp Uncategorized</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Special Expenses"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>
        
      <!-- End Expenses Subcategories -->
      
        <tr class="root expenses">
          <th class="row-label" scope="row">Total Expenses</td>
            <% table_data.each do |m| %>
            <td><%= number_to_currency(m[m.keys.first]["Expenses"], {precision: 0, negative_format: "(%u%n)"}) %></td>
            <% end %>
          </tr>

      <!-- End Expenses -->

        <tr class="net">
          <th class="row-label" scope="row">Net Savings</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Net"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0, negative_format: "(%u%n)"}) : "$0" %></td>
          <% end %>
        </tr>

      </tbody>
    </table>
    
    <% else %>
    <p>Please add an account using the link above.</p>
    <% end %>  

  </div>
</div>