<div id="main-table-area">
  <div id="main-table">

    <% if !@user.accounts.empty? %>

    <div class="table">

      <div class="tHead">
        <div class="tRow">
          <div class="tCell tHeader row-label"></div>

          <% ytd_period = TimePeriod.year_to_date %>
          <% budget_period = TimePeriod.budget %>
          <% ltm_period = TimePeriod.last_twelve_months %>
          <% current_view_period = ytd_period + budget_period %>

          <% current_view_period.each_with_index do |m, i| %>
          <div class="tCell tHeader month"><%= link_to m.first.strftime('%b'), users_piechart_path(:month => i + 1), method: :post, remote: true%></div>
          <% end %>
        </div>
      </div>

      <div class="tBody">

        <% table_data = IncomeStatement.display_table_data(@user.id) %>
        <% table_hash = Category.table_hash %>

        <% table_hash.each do |root_cat, line_item| %>
          <% line_item.each do |line_item, subcat| %>
            <% if !subcat.empty? %>
              <% subcat.each do |subcat, children| %>
                <% if !children.empty? %>
                  <% children.each do |leaf| %>
                    <div class="tRow expenses leaves food" id="<%= id_format(leaf) %>">
                      <div class="tCell row-label">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= leaf %></div>
                      <% table_data.each do |m| %>
                      <div class="tCell"><%= display_amount(m, leaf) %></div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
                  <div class="tRow <%= id_format(root_cat) %> child <%= id_format(line_item) %>" id="<%= id_format(subcat) %>">
                    <div class="tCell row-label">&nbsp&nbsp&nbsp&nbsp <%= subcat %></div>
                    <% table_data.each do |m| %>
                    <div class="tCell"><%= display_amount(m, subcat) %></div>
                    <% end %>
                  </div>
              <% end %>
            <% end %>
            <div class="tRow <%= id_format(root_cat) %> subcategory" id="<%= id_format(line_item) %>">
              <div class="tCell row-label">&nbsp&nbsp <%= line_item %></div>
              <% table_data.each do |m| %>
              <div class="tCell"><%= display_amount(m, line_item) %></div>
              <% end %>
            </div>
          <% end %>
          <div class="tRow root <%=id_format(root_cat)%>">
            <div class="tCell row-label">Total <%= root_cat %></div>
            <% table_data.each do |m| %>
            <div class="tCell"><%= display_amount(m, root_cat) %></div>
            <% end %>
          </div>
        <% end %>

        <div class="tRow root net">
          <div class="tCell row-label">Net Savings</div>
          <% table_data.each do |m| %>
          <div class="tCell"><%= display_amount(m, "Net") %></div>
          <% end %>
        </div>

      </div class="tbody">
    </div>

    <% else %>
    <p>Please add an account using the link above.</p>
    <% end %>

  </div>
</div>
