<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lemmen</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Feature detection -->
    <script src="assets/js/modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="off-canvas">
    <div id="container">
        
            <%= render template: "layouts/_header" %>
            <%= render template: "layouts/_sidebar" %>

            <!--main content start-->
            <section class="main-content-wrapper">
            <section id="main-content">

            <%= render template: "layouts/_tiles_top" %>
               
                <!--dashboard charts and income statementstart-->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>

                            <h2> Hi <%= @user.first_name %> <%= @user.last_name %>!</h2> 
                            <br>
                            <h4>Here is your current information. Feel free to edit as necessary:</h4>
                            <br>
                            </div>

                            <font color="red"><% if flash[:errors] %>
                            <h5><%= flash[:message] %>
                            <% flash[:errors].each do |error| %>
                            <li><%= error %></li>
                            <% end %>
                            <% end %>

                            <%= form_for @user do |f| %>

                            <div class="form-group">
                              <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
                            </div>

                             <div class="form-group">
                              <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
                            </div>

                            <div class="form-group">
                              <%= f.email_field :email, class: 'form-control', placeholder: 'Enter your email' %>
                            </div>
                             <div class="form-group">
                             <%= f.password_field :password, class: 'form-control', placeholder: "New Password"%>
                            </div>
                              <div class="form-group">
                                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Retype your new password"%><br>
                            </div>
                       
                            <%= f.submit "Edit", class: "btn btn-primary" %>
                            <% end %>

                        </div>
                    </div>
                
                </div>

        </section>
        </section>
    </div>

    <!--main content end-->
    
    
</body>

</html>