<h1>Hello <%= @user.email %></h1>

<div id="add-account">
  <%= plaid_link(name:@user.email, action:'accounts', data: {longtail: true}) %>
</div>
<br>
<br>
<br>
<%= link_to "Log Out", logout_path, class: "btn btn-primary"  %>

<h1>Current Net Worth: <%= number_to_currency(@user.net_worth) %></h1><br>

<h1>Accounts: </h1>
<% @user.accounts.each do |acct| %>
  <h3><%= acct.account_name %></h1>
  <p>Type: <%= acct.acct_subtype %></p>
  <p>Balance: $<%=acct.current_balance %></p>
<% end %>

<!-- Annual
  Shows line-items by year total (since start)
-->

<!-- Monthly
  Shows line-items by monthly total (12 months?)
-->

<!-- Weekly
  Shows line-items by weekly total (6 weeks)
-->

<!-- Daily
  Shows line-items by daily total (7 days)
-->

<!-- Today
  Shows line-items relative to budget
-->

<div id="main-table-area">
  <div id="main-table">

  </div>
</div>


<h1>Transactions: </h1>
<table>
  <tr>
    <th>Vendor</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Account</th>
    <th>Date</th>
  </tr>
<% @user.transactions.each do |t| %>
  <tr>
    <td><%= t.trans_name %></td>
    <td>$<%= t.amount %></td>
    <td><%= t.category.name %></td>
    <td><%= t.account.account_name %></td>
    <td><%= t.date %></td>
  </tr>
<% end %>
</table>

<div id="chart"></div>
