<script type="text/javascript" src="income_statement.js"></script>


<h1>Hello User <%= @user.email %></h1>

<div id="add-account">    
  <%= plaid_link(name:@user.email, action:'accounts', data: {longtail: true}) %>     
</div>
<br>
<br>
<br>
<%= link_to "Log Out", logout_path, class: "btn btn-primary"  %>

<h1>Accounts: </h1>
<%= link_to "Update All Accounts", {controller: "plaidapi", action: "update_accounts"}, method: "patch" %>
<% @user.accounts.each do |acct| %>
<h3><%= acct.account_name %></h1>
  <p>Type: <%= acct.acct_subtype %></p>
  <p>Balance: $<%=acct.current_balance %></p>
  <% end %>

<!-- Annual
  Shows line-items by year total (since start)
-->

<!-- Monthly
  Shows line-items by monthly total (12 months?)
-->

<!-- Weekly
  Shows line-items by weekly total (6 weeks)
-->

<!-- Daily
  Shows line-items by daily total (7 days)
-->

<!-- Today
  Shows line-items relative to budget
-->

<div id="main-table-area">
  <div id="main-table">

    <% if !@user.accounts.empty? %>

    <table class="table table-hover">  
      <thead>

        <tr class="table-headers">
          <th id="row_label_header_spacer"></th>
          
          <% TimePeriod.monthly.each do |m| %>
          <th><%= m.first.strftime('%b') %></th>
          <% end %>

        </tr>
      </thead>

      <tbody>
        <% table_data = IncomeStatement.monthly_view(@user.id) %>
        <!-- Begin Income -->
        <!-- Begin Subcategories -->
        <tr class="income subcategory" id="salary">
          <td class="row-label">&nbsp&nbsp Salary</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Salary"] %>
          <td><%= !x.nil? ? number_to_currency(x*-1, {precision: 0}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="income subcategory" id="bonus">
          <td class="row-label">&nbsp&nbsp Bonus</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Bonus"] %>
          <td><%= !x.nil? ? number_to_currency(x*-1, {precision: 0}) : "$0" %></td>
          <% end %>
        </tr>
        <tr class="income subcategory" id="interest-income">
          <td class="row-label">&nbsp&nbsp Interest Income</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Interest Income"] %>
          <td><%= !x.nil? ? number_to_currency(x*-1, {precision: 0}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="income subcategory" id="other-income">
          <td class="row-label">&nbsp&nbsp Other Income</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Other Income"] %>
          <td><%= !x.nil? ? number_to_currency(x*-1, {precision: 0}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="income subcategory" id="reimbursements">
          <td class="row-label">&nbsp&nbsp Reimbursements</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Reimbursements"] %>
          <td><%= !x.nil? ? number_to_currency(x*-1, {precision: 0}) : "$0" %></td>
          <% end %>
        </tr>
        <!-- End Income Subcategories -->

        <tr class="table-success income root">
          <th class="row-label" scope="row">Total Income</td>
            <% table_data.each do |m| %>
            <% x = m[m.keys.first]["Income"] %>
            <td><%= !x.nil? ? number_to_currency(x*-1, {precision: 0}) : "$0" %></td>
            <% end %>
          </tr>
          <!-- End Income -->

          <!-- Begin Expenses -->
          <!-- Begin Subcategories -->

          <tr class="expenses subcategory" id="fixed">
            <td class="row-label" scope="row">&nbsp&nbsp Fixed & Recurring</td>
            <% table_data.each do |m| %>
            <% x = m[m.keys.first]["Fixed & Recurring"] %>
            <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
            <% end %>
          </tr>

          <tr class="expenses subcategory" id="variable">
            <td class="row-label" scope="row">&nbsp&nbsp Variable</td>
            <% table_data.each do |m| %>
            <% x = m[m.keys.first]["Variable"] %>
            <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
            <% end %>
          </tr>

          <tr class="expenses subcategory" id="discretionary">
            <td class="row-label" scope="row">&nbsp&nbsp Discretionary</td>
            <% table_data.each do |m| %>
            <% x = m[m.keys.first]["Discretionary"] %>
            <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
            <% end %>
          </tr>

          <tr class="expenses subcategory" id="life">
            <td class="row-label" scope="row">&nbsp&nbsp Life</td>
            <% table_data.each do |m| %>
            <% x = m[m.keys.first]["Life"] %>
            <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
            <% end %>
          </tr>

          <tr class="expenses subcategory" id="other-exp">
            <td class="row-label" scope="row">&nbsp&nbsp Other</td>
            <% table_data.each do |m| %>
            <% x = m[m.keys.first]["Other Expenses"] %>
            <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
            <% end %>
          </tr>

          <tr class="expenses subcategory" id="uncategorized">
            <td class="row-label" scope="row">&nbsp&nbsp Uncategorized</td>
            <% table_data.each do |m| %>
            <% x = m[m.keys.first]["Special Expenses"] %>
            <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
            <% end %>
          </tr>
        </div>
        <!-- End Expenses Subcategories -->
        <tr class="root expenses">
          <th class="row-label" scope="row">Total Expenses</td>
            <% table_data.each do |m| %>
            <td><%= number_to_currency(m[m.keys.first]["Expenses"], {precision: 0}) %></td>
            <% end %>
          </tr>
          <!-- End Expenses -->
        </tbody>
      </table>
      <% else %>
      <p>Please add an account using the link above.</p>
      <% end %>  
    </div>
  </div>

  <div class="subcategories expenses">


    <div class="subcategories fixed">

      <tr class="expenses fixed" id="cell phone">
        <td class="row-label" scope="row">Cell Phone</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Cell Phone"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses fixed" id="insurance">
        <td class="row-label" scope="row">Insurance</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Insurance"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses fixed" id="rent & mortgage">
        <td class="row-label" scope="row">Rent & Mortgage</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Rent & Mortgage"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses fixed" id="transportation">
        <td class="row-label" scope="row">Transportation</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Transportation"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses fixed" id="tv & internet">
        <td class="row-label" scope="row">TV & Internet</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["TV & Internet"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses fixed" id="utilities">
        <td class="row-label" scope="row">Utilities</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Utilities"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>
    </div>

    <div class="subcategories variable">

      <tr class="expenses variable" id="cars & vehicles">
        <td class="row-label" scope="row">Cars & Vehicles</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Cars & Vehicles"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses variable" id="children">
        <td class="row-label" scope="row">Children</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Children"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses variable" id="cleaning supplies & maids">
        <td class="row-label" scope="row">Cleaning Supplies & Maids</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Cleaning Supplies & Maids"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses variable" id="education">
        <td class="row-label" scope="row">Education</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Education"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses variable" id="fitness & recreation">
        <td class="row-label" scope="row">Fitness & Recreation</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Fitness & Recreation"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses variable" id="healthcare">
        <td class="row-label" scope="row">Healthcare</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Healthcare"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses variable" id="laundry">
        <td class="row-label" scope="row">Laundry</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Laundry"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses variable" id="personal care">
        <td class="row-label" scope="row">Personal Care</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Personal Care"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <tr class="expenses variable" id="pets">
        <td class="row-label" scope="row">Pets</td>
        <% table_data.each do |m| %>
        <% x = m[m.keys.first]["Pets"] %>
        <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
        <% end %>
      </tr>

      <div class="subcategories total food in variable">

        <tr class="expenses variable total food" id="alcohol & bars">
          <td class="row-label" scope="row">Alcohol & Bars</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Alcohol & Bars"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="expenses variable total food" id="coffee shops">
          <td class="row-label" scope="row">Coffee Shops</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Coffee Shops"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="expenses variable total food" id="fast food & delivery">
          <td class="row-label" scope="row">Fast Food & Delivery</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Fast Food & Delivery"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="expenses variable total food" id="groceries">
          <td class="row-label" scope="row">Groceries</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Groceries"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="expenses variable total food" id="other food">
          <td class="row-label" scope="row">Other Food</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Other Food"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="expenses variable total food" id="restaurants">
          <td class="row-label" scope="row">Restaurants</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Restaurants"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
          <% end %>
        </tr>

        <tr class="expenses variable total food" id="work meals">
          <td class="row-label" scope="row">Work Meals</td>
          <% table_data.each do |m| %>
          <% x = m[m.keys.first]["Work Meals"] %>
          <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
          <% end %>
        </tr>
      </div>
    </div>

    <tr class="expenses variable" id="total food">
      <td class="row-label" scope="row">Total Food</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Total Food"] %>
      <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>


  </div>

  <div class="subcategories discretionary">

    <tr class="expenses discretionary" id="home">
      <td class="row-label" scope="row">Home</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Home"] %>
      <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

    <tr class="expenses discretionary" id="shopping">
      <td class="row-label" scope="row">Shopping</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Shopping"] %>
      <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

    <tr class="expenses discretionary" id="entertainment">
      <td class="row-label" scope="row">Entertainment</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Entertainment"] %>
      <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

    <tr class="expenses discretionary" id="rental & taxi">
      <td class="row-label" scope="row">Rental & Taxi</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Rental & Taxi"] %>
      <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

    <tr class="expenses discretionary" id="cash">
      <td class="row-label" scope="row">Cash</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Cash"] %>
      <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

    <tr class="expenses discretionary" id="other">
      <td class="row-label" scope="row">Other</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Other"] %>
      <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>
  </div>

  <div class="subcategories life">

    <tr class="expenses life" id="charity & community">
      <td class="row-label" scope="row">Charity & Community</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Charity & Community"] %>
      <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

    <tr class="expenses life" id="gifts">
      <td class="row-label" scope="row">Gifts</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Gifts"] %>
      <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

    <tr class="expenses life" id="trips">
      <td class="row-label" scope="row">Trips</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Trips"] %>
      <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

    <tr class="expenses life" id="wedding">
      <td class="row-label" scope="row">wedding</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["wedding"] %>
      <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

  </div>

  <div class="subcategories other-exp">

   <tr class="expenses other-exp" id="adjustments">
    <td class="row-label" scope="row">Adjustments</td>
    <% table_data.each do |m| %>
    <% x = m[m.keys.first]["Adjustments"] %>
    <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
    <% end %>
  </tr>

  <tr class="expenses other-exp" id="reimbursable expenses">
    <td class="row-label" scope="row">Reimbursable Expenses</td>
    <% table_data.each do |m| %>
    <% x = m[m.keys.first]["Reimbursable Expenses"] %>
    <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
    <% end %>
  </tr>

  <tr class="expenses other-exp" id="interest & fees">
    <td class="row-label" scope="row">Interest & Fees</td>
    <% table_data.each do |m| %>
    <% x = m[m.keys.first]["Interest & Fees"] %>
    <td><%= !x.nil? ? number_to_currency(x, {precision: 0}) : "$0" %></td>
    <% end %>
  </tr>
</div>


</div>

<tr class="root expenses">
  <th class="row-label" scope="row">Total Expenses</td>
    <% table_data.each do |m| %>
    <td><%= number_to_currency(m[m.keys.first]["Expenses"], {precision: 0}) %></td>
    <% end %>
  </tr>

  <div class="subcategories special">

    <tr class="expenses" id="transfer">
      <td class="row-label">Transfer</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Transfer"] %>
      <td><%= !x.nil? ? number_to_currency(x*-1, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

    <tr class="expenses" id="taxes">
      <td class="row-label">Taxes</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Taxes"] %>
      <td><%= !x.nil? ? number_to_currency(x*-1, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>


    <tr class="expenses" id="loan">
      <td class="row-label">Loan</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Loan"] %>
      <td><%= !x.nil? ? number_to_currency(x*-1, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

    <tr class="expenses" id="benefits">
      <td class="row-label">Benefits</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Benefits"] %>
      <td><%= !x.nil? ? number_to_currency(x*-1, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

  </div>

  <tr class="root special">
    <th class="row-label" scope="row">Total Special</td>
      <% table_data.each do |m| %>
      <% x = m[m.keys.first]["Special"] %>
      <td><%= !x.nil? ? number_to_currency(x*-1, {precision: 0}) : "$0" %></td>
      <% end %>
    </tr>

  </tbody>
</table>
<% else %>
<p>Please add an account using the link above.</p>
<% end %>


>>>>>>> master
</div>
</div>



<h1>Transactions: </h1>
<table>
  <tr>
    <th>Vendor</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Account</th>
    <th>Date</th>
  </tr>
  <% @user.transactions.each do |t| %>
  <tr>
    <td><%= t.trans_name %></td>
    <td>$<%= t.amount %></td>
    <td><%= t.category.name %></td>
    <td><%= t.account.account_name %></td>
    <td><%= t.date %></td>
  </tr>
  <% end %>
</table>

<div id="chart"></div>
