<h1>Hello User <%= @user.email %></h1>

<!-- begin plaid link form and script -->
<%= form_tag("/users/accounts", id: "some-id", method: "post") do %>
<% end %>
<script
  src="https://cdn.plaid.com/link/stable/link-initialize.js"
  data-client-name="Bob"
  data-form-id="some-id"
  data-key="b53f747ad95159afdea9c498495fce"
  data-product="connect"
  data-env="tartan"
  data-longtail="true">
</script>
<!-- end of plaid link form and script -->
<br>
<br>
<br>
<%= link_to "Log Out", logout_path, class: "btn btn-primary"  %>

<h1>Current Net Worth: <%= number_to_currency(@user.net_worth) %></h1><br>

<h1>Accounts: </h1>
<% @user.accounts.each do |acct| %>
  <h3><%= acct.account_name %></h1>
  <p>Type: <%= acct.acct_subtype %></p>
  <p>Balance: $<%=acct.current_balance %></p>
<% end %>

<!-- Annual 
  Shows line-items by year total (since start)
-->

<!-- Monthly
  Shows line-items by monthly total (12 months?)
-->

<!-- Weekly 
  Shows line-items by weekly total (6 weeks)
-->

<!-- Daily 
  Shows line-items by daily total (7 days)
-->

<!-- Today
  Shows line-items relative to budget 
-->

<div id="main-table-area">
  <div id="main-table">
    
  </div>
</div>


<h1>Transactions: </h1>
<table>
  <tr>
    <th>Vendor</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Account</th>
    <th>Date</th>
  </tr>
<% @user.transactions.each do |t| %>
  <tr>
    <td><%= t.trans_name %></td>
    <td>$<%= t.amount %></td>
    <td><%= t.category.name %></td>
    <td><%= t.account.account_name %></td>
    <td><%= t.date %></td>
  </tr>
<% end %>
</table>

<svg id="net-worth"></svg>
