<h1>Hello User <%= @user.email %></h1>

<%= plaid_link(name:'Tony Soprano', action:'accounts', data: {longtail: true}) %>

<br>
<br>
<br>
<%= link_to "Sign out", logout_path %>


<!-- # <% net_worth = 0 %>
# <% Account.all.each do |account| %>
#   <%= account.account_name %>
#   <%= account.current_balance %><br>
#   <% net_worth += account.current_balance %>
# <% end %> -->

<!-- <h3>Your net worth is: $<%= net_worth %></h3> -->
