<script type="text/javascript" src="income_statement.js"></script>

<h1>Hello User <%= @user.email %></h1>

<div id="add-account">    
  <%= plaid_link(name:@user.email, action:'accounts', data: {longtail: true}) %>     
</div>
<br>
<br>
<br>
<%= link_to "Log Out", logout_path, class: "btn btn-primary"  %>

<h1>Accounts: </h1>
<%= link_to "Update All Accounts", {controller: "plaidapi", action: "update_accounts"}, method: "patch" %>
<% @user.accounts.each do |acct| %>
<h3><%= acct.account_name %></h1>
  <p>Type: <%= acct.acct_subtype %></p>
  <p>Balance: $<%=acct.current_balance %></p>
  <% end %>

<%= render "income_statement_divs" %>
<br>

<br>
<br>
<br>
<div>Spacing for display</div>