<!--sidebar left start-->
<nav class="sidebar sidebar-left">
    <ul class="nav nav-pills nav-stacked">
        <center>
            <h5 class="sidebar-header">Navigation</h5>
    
        </center>

        <li class="nav-dropdown">
           <%= link_to new_user_account_path(@user) do %>
           <i class="fa fa-usd"></i> Add an account!
           <% end %>
        </li>

        <li class="nav-dropdown">
            <%= link_to user_path(@user) do %>
            <i class="fa fa-television"></i>Dashboard
            <% end %>
        </li>

        <li class="nav-dropdown">
            <%= link_to edit_user_path(@user) do %>
            <i class="fa fa-table"></i> Profile
            <% end %>
        </li>

       <li class="nav-dropdown">
           <%= link_to goals_path(@user) do %>
           <i class="fa fa-usd"></i> Goals
           <% end %>
        </li>

        <li class="nav-dropdown">
           <%= link_to user_transactions_path(@user) do %>
           <i class="fa fa-usd"></i> Transactions
           <% end %>
        </li>


    </ul>
</nav>
<!--sidebar left end-->
